<div class="background-image"></div>
<section class="top">
  <section class="team team-friendly region"></section>
  <section class="middle">
    <section class="status region"></section>
    <section class="champions region"></section>
    <section class="player-options region"></section>
  </section>
  <section class="team team-enemy region"></section>
</section>
<section class="bottom">
  <section class="bans bans-friendly box dark">
    <h3>Banned Champions</h3>
    <div class="region"></div>
  </section>
  <section class="chat box dark">
    <h3>Team Chat</h3>
    <div class="region"></div>
  </section>
  <section class="bans bans-enemy box dark">
    <h3>Banned Champions</h3>
    <div class="region"></div>
  </section>
</section>