<section class="top">
  <section class="team team-a"></section>
  <section class="middle">
    <section class="status"></section>
    <section class="champions"></section>
    <section class="player-options"></section>
  </section>
  <section class="team team-b"></section>
</section>
<section class="bottom">
  <section class="bans bans-a"></section>
  <section class="chat"></section>
  <section class="bans bans-b"></section>
</section>