<section class="top">
  <section class="team team-friendly"></section>
  <section class="middle">
    <section class="status"></section>
    <section class="champions"></section>
    <section class="player-options"></section>
  </section>
  <section class="team team-enemy"></section>
</section>
<section class="bottom">
  <section class="bans bans-friendly"></section>
  <section class="chat"></section>
  <section class="bans bans-enemy"></section>
</section>