<div class="selection">
  {{#with champion}}{{>champion_icon}}{{/with}}
  <div class="spells">
    <div class="spell spell-1 box"></div>
    <div class="spell spell-2 box"></div>
  </div>
  <div class="picking">Picking</div>
</div>
<div class="name">{{name}}</div>